<% let sauceCounter = sauce.length -1 %>
<% let dishCounter = dish.length -1 %>
<% let advancedDishCounter = advancedDish.length -1 %>
<% let max = Math.max(sauceCounter, dishCounter, advancedDishCounter); %> 

<%- include('header.ejs'); -%>
<link rel="stylesheet" href="/css/table.css">
<h2 class = "edit"><a href="#" id = "edit">Click Here To Enter Edit Mode</a></h2> 
<h1 class = "gotoDelete"><a href="/tableToUpdate">THIS IS <span style="text-decoration: underline;">DELETE</span> SECTION</a></h1>
<div id="wrapperRemoveTable">  
  <div class="center">
      <form action="/table" method="post">
    <table id = "table" class = "delete">
      <thead>
        <tr>
          <th>Sauce</th>
          <th>Food</th>
          <th>Advanced Food</th>
        </tr>
      <tbody>
          <% while(max>=0){ %>
        <tr>
            <td>
            <% if(sauceCounter>=0){ %>
                <input type="checkbox" name = "remove" value = "<%= sauce[sauceCounter]._id %>" class = "remove" onChange="this.form.submit()">
                <a href="/main/sauce/<%= sauce[sauceCounter].name %> "><%= sauce[sauceCounter].name %></a>
                <% --sauceCounter %> 
          <% } %>
        </td> 
          <td>
            <% if(dishCounter>=0){ %>
                <input type="checkbox" name = "remove" value = "<%= dish[dishCounter]._id %>"  class = "remove" onChange="this.form.submit()">
                <a href="/main/dish/<%= dish[dishCounter].name %> "><%= dish[dishCounter].name %></a>
                <% --dishCounter %> 
          <% } %> 
        </td>
          <td>
            <% if(advancedDishCounter>=0){ %>
                <input type="checkbox" name = "remove" value = "<%= advancedDish[advancedDishCounter]._id %>"  class = "remove" onChange="this.form.submit()">
                <a href="/main/advanced-dish/<%= advancedDish[advancedDishCounter].name %>"><%= advancedDish[advancedDishCounter].name %></a>
                
                <% --advancedDishCounter %> 
          <% } %>
          </td>
        </tr>
        <% --max %>
   <% } %>
      </tbody>
          
        
      </thead>
    </table>
    
</form>
  </div>
</div>

<script src="javascript/Management.js"></script>

<%- include('footer.ejs'); -%>
