<%- include('header.ejs'); -%>

   <link
  rel="stylesheet"
  href="https://bootswatch.com/4/journal/bootstrap.min.css"
/>

<div class="wrapper">
<h1 class="mt-4">Личный Кабинет</h1>
<p class="lead mb-3">Добро Пожаловать <%= pageHolder[0].name %></p>
<a href="/logout" class="btn btn-secondary">Выход</a>
<% if(currentUser.isAdmin && currentUser.name != pageHolder[0].name){ %>
  <form action="/deleteUser" method="post">
  <button type="submit" name="email" value="<%=pageHolder[0].email%>">Delete User</button>
</form>
<% } %> 

  
  <% if(pageHolder[0].favoriteDish.length>0||pageHolder[0].favoriteAdvancedDish.length>0){ %>
    <p class="lead mb-3">Любимая еда: </p>
<ul>
    <% for(let i = 0; i < pageHolder[0].favoriteDish.length; ++i){ %>
        <% let favoriteDish = pageHolder[0].favoriteDish[i].name %> 
        <li><a href="/main/dish/<%= favoriteDish %> "><%= favoriteDish %></a></li> 
   <% } %> 
 <% } %> 
 <% for(let i = 0; i < pageHolder[0].favoriteAdvancedDish.length; ++i){ %>
  <% let favoriteAdvancedDish = pageHolder[0].favoriteAdvancedDish[i].name %> 
  <li><a href="/main/advanced-dish/<%= favoriteAdvancedDish %> "><%= favoriteAdvancedDish %></a></li> 
<% } %> 

</ul>
</div>
<%- include('footer.ejs'); -%>
