<%- include('header.ejs'); -%>
<div class="">
    <table>
        <% for(let i = 0; i < users.length; ++i) { %> 
        <tr>
          <% if(users[i].isAdmin){ %>
            
         <% } else { %>
          <td><%= users[i].email %></td>
          <td>      
            <a href="/main/users/<%= users[i].name %> " style = 'color: blue;'><%= users[i].name %>
            </a>  
            </td>
         <% } %>
        </tr>
        <% } %> 
      </table>
</div>


<%- include('footer.ejs'); -%>